* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  position: relative;
}

.container {
  margin: 20px auto;
  width: 1000px;
}

.row {
  display: flex;
}

hr {
  border: 1px solid #eee;
}

.game-info {
  display: flex;
}
.game-info .game-one {
  flex: 1;
}
.game-info .category {
  flex: 1;
  text-align: right;
}
.game-info .category span {
  text-transform: capitalize;
  color: #e91e63;
  font-weight: bold;
}

.hangman-draw {
  flex: 1;
  background-color: #f8f8f8;
  padding: 20px;
  height: 324px;
}

.hangman-draw .the-draw {
  width: 60px;
  height: 280px;
  border-bottom: 4px solid #222;
  position: relative;
  margin: auto;
  left: -60px;
  display: none;
}

.hangman-draw .the-stand {
  content: "";
  position: absolute;
  width: 4px;
  background-color: #222;
  height: 100%;
  left: 50%;
  margin-left: -2px;
  display: none;
}

.hangman-draw .the-hang {
  display: none;
}

.hangman-draw .the-hang::before {
  content: "";
  position: absolute;
  height: 4px;
  background-color: #222;
  width: 100px;
  left: 30px;
  top: 15px;
}

.hangman-draw .the-hang::after {
  content: "";
  position: absolute;
  background-color: #222;
  height: 30px;
  width: 4px;
  left: 128px;
  top: 15px;
}

.hangman-draw .the-rope {
  width: 70px;
  height: 70px;
  position: absolute;
  border-radius: 50%;
  left: 95px;
  top: 45px;
  border: 4px dashed #222;
  display: none;
}

.hangman-draw .the-man .head {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #222;
  position: absolute;
  left: 105px;
  top: 55px;
  display: none;
}

.hangman-draw .the-man .body {
  position: absolute;
  background-color: #222;
  width: 4px;
  height: 110px;
  top: 102px;
  left: 128px;
  display: none;
}

.hangman-draw .the-man .hands {
  display: none;
}

.hangman-draw .the-man .legs {
  display: none;
}

.hangman-draw .the-man .hands::after,
.hangman-draw .the-man .hands::before,
.hangman-draw .the-man .legs::after,
.hangman-draw .the-man .legs::before {
  content: "";
  width: 50px;
  position: absolute;
  height: 4px;
  background-color: #222;
}

.hangman-draw .the-man .hands::after {
  left: 85px;
  top: 150px;
  transform: rotate(30deg);
}
.hangman-draw .the-man .hands::before {
  left: 127px;
  top: 150px;
  transform: rotate(-30deg);
}

.hangman-draw .the-man .legs::after {
  left: 84px;
  top: 220px;
  transform: rotate(330deg);
}
.hangman-draw .the-man .legs::before {
  left: 127px;
  top: 220px;
  transform: rotate(-330deg);
}

.hangman-draw.wrong-1 .the-draw {
  display: block;
}
.hangman-draw.wrong-2 .the-stand {
  display: block;
}
.hangman-draw.wrong-3 .the-hang {
  display: block;
}
.hangman-draw.wrong-4 .the-rope {
  display: block;
}
.hangman-draw.wrong-5 .head {
  display: block;
}
.hangman-draw.wrong-6 .body {
  display: block;
}
.hangman-draw.wrong-7 .hands {
  display: block;
}
.hangman-draw.wrong-8 .legs {
  display: block;
}

.letters {
  flex: 1;
  padding: 15px;
  text-align: center;
}

.letters.finished {
  pointer-events: none;
}

.letters .letter-Box {
  width: 55px;
  height: 55px;
  display: inline-block;
  background-color: #009688;
  color: white;
  font-size: 24px;
  margin-right: 10px;
  line-height: 55px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}

.letters .letter-Box.clicked {
  background-color: #222;
  opacity: 0.2;
  pointer-events: none;
}

.letters-guess {
  margin: 10px auto;
  background-color: #f8f8f8;
  padding: 20px;
  display: flex;
  justify-content: center;
  min-height: 104px;
}

.letters-guess span {
  width: 60px;
  height: 60px;
  font-size: 24px;
  margin-right: 10px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #fdfdfd;
  border-bottom: 3px solid #222;
  transition: 0.3s;
}

.letters-guess span.has-space {
  background: none;
  border-bottom: none;
  position: relative;
}

.letters-guess span.has-space::before {
  content: "";
  width: 20px;
  height: 4px;
  background-color: #222;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 150px;
  color: white;
  background-color: #222;
  border-radius: 10px;
  opacity: 0.7;
  font-size: 25px;
  padding: 10px;
}
